html, body{
  margin:0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position:relative;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: orangered;
  background-color: black;
}

main{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  gap:5rem;
}

button{
  background-color: orangered;
  font-size: 3rem;
  font-weight: 800;
  padding: 3rem 3rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.3rem 0.03rem  black;
  cursor: pointer;
  transition: all ease .1s;
}

button:hover {
  transform:scale(1.13);
  /* transition: all ease .2s; */
  box-shadow: none;
}

button:active {
  transform: scale(1.08);
  box-shadow: 0 0.3rem 0.3rem 0.03rem black;

}

.results{
  display: flex;
  font-size: 2rem;
  text-align: center;
  flex-direction: column;
}

.game-result-div {
  height:100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8)),
  url('assets/img/shifumi_bg.svg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: none;
  z-index: 2;
  position: absolute;
  top:0;
  left:0;
  transition: all ease;
}


.game-result-wrapper{
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 1rem 5rem;
  border-radius: .5rem;
}


.rematch-btn button {
  font-size: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .buttons {
    gap: 1.3rem;
  }

  button {
    font-size: 3rem;
    padding: 2rem 2rem;
  }

}
